<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="msapplication-TileColor" content="#0E0E0E" />
    <meta name="theme-color" content="#0E0E0E" />
    <meta name="description" content="Index page" />
    <meta name="keywords" content="index, page" />
    <meta name="author" content="" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:type" content="website" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./assets/images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./assets/images/favicon-16x16.png"
    />
    <link rel="shortcut icon" href="./assets/images/favicon.ico" />
    <title>Music</title>
    <link href="../manifest.json" rel="manifest" />
    <meta name="msapplication-config" content="../browserconfig.xml" />
    <style>
      body {
        overflow-x: hidden;
        opacity: 0;
      }
      html {
        background-color: #691cff;
      }
    </style>
  </head>

  <body class="ishome">
    <div class="main">
      <div class="header">
        <header
          class="site-header"
          style="background-image: url(./assets/images/banner-bg.jpg)"
        >
          <div class="top-line">
            <div class="container">
              <a href="index.html" class="logo">
                <img src="./assets/images/logo.png" alt="Music"
              /></a>
              <a class="hamburger hamburger--collapse" href="#my-menu">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </a>
              <nav id="my-menu">
                <ul>
                  <li><a href="#"></a>home</li>
                  <li><a href="#"></a>feature</li>
                  <li><a href="#"></a>about</li>
                  <li><a href="#"></a>contact</li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="banner">
            <div class="banner-content">
              <h1
                class="text-uppercase"
                style="background-image: url(./assets/images/bg-text.jpg)"
                data-stellar-background-ratio="0.5"
              >
                Music is life
              </h1>
              <p class="text-uppercase">
                Universal Truth
              </p>
            </div>
          </div>
        </header>
      </div>
      <div class="content">
        <section>
          <div class="container text-block pt-100 pb-100">   
              <div class="title fb-50">
                <span>Music</span> gives soul to the universe,
                wings to the <span>mind</span>, flight
                to the <span>imagination</span>.
              </div>
              <div class="description fb-50">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </div>
            </div>
        </section>
      </div>
      <div class="footer"></div>
    </div>
    </div>
  </body>
</html>
